<h1>Ваши мероприятия:</h1>
<p><% @events.each do |event| %></p>
  <p><%= "Мероприятие - #{event.name}" %></p>
  <p><%= link_to 'Информация о мероприятии', event_path(event) %></p>
  <p><%= button_to 'Удалить мероприятие', event_path(event), method: :delete %></p>
  <p>-----------------------------------------------</p>
<% end %>
<p><%= link_to 'На мою страницу', @user %></p>