<h1>Welcome to Secret Santa!</h1>

<p>Rules:</p>
<p>- ...</p>
<p>- ...</p>
<p>- ...</p>
<% if @user.present? %>
  <p><%= link_to 'Мой профиль', @user %></p>
<% else %>
  <p><%= link_to 'Регистрация', new_user_path %></p>
  <p><%= link_to 'Войти', new_session_path %></p>
<% end %>