<h1>Добро пожаловать в игру - Тайный Санта!</h1>

<p>Правила:</p>
<p>- зарегистрируйся</p>
<p>- создай мероприятие</p>
<p>- поделись с друзьями именем и паролем от мероприятия, что бы они присоеденились</p>
<p>- после этого в мероприятии жми "Старт мероприятия"</p>
<p>- общайся со своим Тайным Сантой и со своей жертвой (= </p>
<% if @user.present? %>
  <p><%= link_to 'Мой профиль', @user %></p>
<% else %>
  <p><%= link_to 'Регистрация', new_user_path %></p>
  <p><%= link_to 'Войти', new_session_path %></p>
<% end %>